<div class="container">
  <div class="wrapper" *ngIf="afAuth.user | async as user; else showLogin">

    <div class="logout">
      <a id="small" (click)="logoutUser()" class="logout">Logout</a>
    </div>

    <form (submit)="addNote(user.uid)" class="note-form">
      <a (click)="hideNoteForm = !hideNoteForm">
        <p id="large" class="note-title">New Note <strong [hidden]="!hideNoteForm"><p id="smol" style="font-size: 0.7em;" class="note-tip-create-note">Click to open note creation</p></strong></p>
      </a>
      <!-- Note title -->
      <div [hidden]="hideNoteForm">
        <label id="medium" for="note-input-title" class="note-input">Title</label>
        <input id="medium" type="text" name="noteInputTitle" id="note-input-title" class="note-input" [(ngModel)]="newNote.title"
          maxlength="200" />

        <!-- Note content -->
        <label id="medium" for="note-input-content" class=" note-input">Content</label>
        <textarea id="medium" type="text" name="noteInputContent" id="note-input-content" class="note-input" cols="30" rows="10"
          maxleng th="1000" [(ngModel)]="newNote.content"></textarea>

        <input id="small" type="submit" value="Add note" class="note-submit">
      </div>
    </form>

    <div class="notes">
      <li *ngFor="let note of notes | async; let id = index;">
        <div class="note">
          <ul class="note">
            <!-- <a class="note-title" (click)="toggleDisplay()"><p class="note-title">{{ note.title }}</p></a> -->
            <div class="note-header">
              <a id="large" class="note-title" (click)="hideme[note.id] = !hideme[note.id]" (*ngSwitchDefault)="hideme[id] = true">
                <p class="note-title">{{ note.title }}</p>
                <p id="smol" class="note-tip-show-content" [hidden]="hideme[note.id]">Click to show content</p>
              </a>
              <a class="note-favorite" (click)="debug(note)">
                <svg *ngIf="noteIsFavorite(note)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="border: 2px solid orange;" fill="red" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg *ngIf="noteIsFavorite(note)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              </a>
            </div>
            <!-- <p class="note-content" [hidden]="isShow">{{ note.content }}</p> -->
            <p id="medium" class="note-content" [hidden]="!hideme[note.id]">{{ note.content }}</p>
            <a id="medium" class="note-delete" [hidden]="!hideme[note.id]" (click)="deleteNote(note)"
              style="text-decoration: underline;">Delete</a>
          </ul>
        </div>
      </li>
    </div>
  </div>

  <ng-template #showLogin>
    <div class="auth">
      <div class="auth-header">
        <a id="large" class="title" (click)="showCreateUserFormF()">Register</a>
        <a id="large" class="title" (click)="showLoginUserFormF()">Login</a>
      </div>
      <div *ngIf="showCreateUserForm">
        <!-- [hidden]="!showCreateUserForm" -->
        <form (submit)="signUpWithEmailAndPassword()" #createForm="ngForm">

          <label id="medium" for="input-mail-register">Mail</label>
          <input id="medium"type="email" name="input-mail-register" class="input-mail-register" [(ngModel)]="user.email"
            id="input-mail-register">
          <!-- <input type="text" name="input-mail" id="input-mail"> -->

          <label id="medium" for="input-password-register">Password</label>
          <input id="medium" type="password" name="input-password-register" class="input-password-register"
            [(ngModel)]="user.password" id="input-password-register">
          <!-- <input type="password" name="input-password" id="input-password"> -->

          <input id="medium" type="submit" [disabled]="!createForm.valid" value="Register" class="submit-user-register">
          <br>
          <a id="small" class="already-or-not-account">Already have an account ? <strong (click)="showLoginUserFormF()"
              style="cursor: pointer;">Login</strong></a>

        </form>
      </div>
      <div *ngIf="showLoginUserForm">
        <!-- [hidden]="!showLoginUserForm" -->
        <form (submit)="signInWithEmailPassword()" #loginForm="ngForm">
          <label id="medium" for="input-mail-login">Mail</label>
          <input id="medium" type="email" name="input-mail-login" class="input-mail-login" [(ngModel)]="user.email"
            id="input-mail-login">
          <!-- <input type="text" name="input-mail" id="input-mail"> -->

          <label id="medium" for="input-password-login">Password</label>
          <input id="medium" type="password" name="input-password-login" class="input-password-login" [(ngModel)]="user.password"
            id="input-password-login">
          <!-- <input type="password" name="input-password" id="input-password"> -->

          <input id="medium" type="submit" [disabled]="!loginForm.valid" value="Login" class="submit-user-login">
          <br>
          <a id="small" class="already-or-not-account">Don't have an account ? <strong (click)="showCreateUserFormF()"
              style="cursor: pointer;">Register</strong></a>

        </form>
      </div>
    </div>
  </ng-template>
</div>
