@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: #bdbdbd;
$primary-light: #efefef;
$primary-dark: #8d8d8d;
$secondary: #cfd8dc;
$secondary-light: #ffffff;
$secondary-dark: #9ea7aa;
$text-primary: #b9b9b9;
$text-secondary: #cad3d7;

.note-form {
  border-left: 0.7em solid $secondary;
  border-radius: 0.3em;
  background-color: rgba($secondary, 0.08);
  margin-top: 3em;
  padding: 0.5em;

  .note-title {
    color: $primary-dark;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 0.5em;
    font-size: 2.5em;
    margin-top: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  label.note-input,
  input.note-input,
  textarea.note-input {
    display: block;
    width: 90%;
    margin-left: 1em;
    color: $secondary-dark;
    font-family: "Nunito", sans-serif;
  }

  input.note-input,
  textarea.note-input {
    margin-bottom: 1.3em;
    border: 2px solid $secondary;
    border-radius: 0.3em;
    padding: 0.3em;
    cursor: text;
  }

  input.note-input {
    font-size: 1.5em;
  }

  textarea.note-input {
    overflow: auto;
    resize: none;
    font-size: 1.1em;
  }

  input.note-submit {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

    border: 2px solid $secondary;
    border-radius: 0.3em;
    color: $secondary-dark;
    background-color: $secondary-light;

    font-size: 1em;
    padding: 0.3em;
  }
}

.notes {

  li {
    list-style: none;

    .note-header {
      a.note-favorite {
        float: right;
        margin-right: .3em;
        margin-top: -3em;
        padding: .1em;
        cursor: pointer;
      }
    }

    div.note {
      border-left: 0.7em solid $secondary;
      border-radius: 0.3em;
      background-color: rgba($secondary, 0.08);

      .note-title {
        color: $primary-dark;
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 0;
        cursor: pointer;
      }

      .note-content {
        color: $primary-dark;
        margin-bottom: 1.5em;
      }

      a.note-delete {
        cursor: pointer;
        color: $text-primary;
      }
    }
  }

  div.note:hover {
    animation: divNoteHover 0.2s forwards;
  }

  a.note-favorite:hover {
    animation: aNoteFavoriteHover 0.5s forwards;
  }

  a.note-delete:hover {
    animation: aNoteDeleteHover 0.4s forwards;
  }
}

@keyframes divNoteHover {
  from {
    background-color: rgba($secondary, 0.08);
  }
  to {
    background-color: rgba($secondary, 0.18);
  }
}

@keyframes aNoteDeleteHover {
  from {
    color: $text-primary;
  }
  to {
    color: red;
  }
}

@keyframes aNoteFavoriteHover {
  from {
    color: $text-primary;
  }
  to {
    color: orange;
  }
}
