<div class="container">
  <div *ngIf="afAuth.user | async as user; else showLogin">

    <div class="logout">
      <a id="small" (click)="logoutUser()" class="logout">Logout</a>
    </div>

    <div class="note-form">
      <style>
        .note-input {
          font-size: 1.35em;
          resize: none;
          overflow: auto;
        }
      </style>
      <form (submit)="addNote(user.uid)">
        <a (click)="hideNoteForm = !hideNoteForm">
          <p id="large" class="note-title">New Note <strong [hidden]="!hideNoteForm">
              <p id="smol" class="note-tip-create-note">Click to open note creation</p>
            </strong></p>
        </a>
        <div [hidden]="hideNoteForm" class="note-form-body">
          <label id="medium" for="note-input-title" class="note-input">Title</label>
          <input id="medium" style="font-size: 1.6em;" type="text" name="noteInputTitle" id="note-input-title"
            class="note-input" [(ngModel)]="newNote.title" maxlength="200" />

          <label id="medium" for="note-input-content" class=" note-input">Content</label>
          <textarea id="medium" type="text" name="noteInputContent" id="note-input-content" class="note-input" cols="30"
            rows="10" maxleng th="1000" [(ngModel)]="newNote.content"></textarea>

          <input id="small" type="submit" value="Add note" class="submit">
        </div>

      </form>

    </div>


    <div class="notes">
      <li *ngFor="let note of notes | async; let id = index;">
        <ul class="note">
          <div class="note-header">
            <a id="large" class="note-title" (click)="hideme[note.id] = !hideme[note.id]"
              (*ngSwitchDefault)="hideme[id] = true">
              <p class="note-title">{{ note.title }}</p>
              <p id="smol" class="note-tip-show-content" [hidden]="hideme[note.id]">Click to show content</p>
            </a>
          </div>
          <p id="medium" class="note-content" [hidden]="!hideme[note.id]">{{ note.content }}</p>
          <a id="small" class="note-delete" [hidden]="!hideme[note.id]" (click)="deleteNote(note)"
            style="text-decoration: underline; cursor: pointer;">Delete</a>
          <a id="small" class="note-edit" [hidden]="!hideme[note.id]" (click)="openNoteEditor(note)"
            style="text-decoration: underline; cursor: pointer; margin-left: 0.7em; ">Edit</a>
        </ul>
      </li>
    </div>
  </div>

  <ng-template #showLogin>
    <style>
      a {
        cursor: pointer;
      }

      .title {
        margin-left: 1em;
      }

      .already-or-not-account {
        margin-bottom: 0;
        margin-top: 1em;
      }
    </style>
    <div class="auth">
      <div>
        <a id="large" class="title" (click)="showCreateUserFormF()">Register</a>
        <a id="large" class="title" (click)="showLoginUserFormF()">Login</a>
      </div>
      <div *ngIf="showCreateUserForm">
        <form (submit)="signUpWithEmailAndPassword()" #createForm="ngForm">

          <label id="medium" for="input-mail-register">Mail</label>
          <input id="medium" type="email" name="input-mail-register" class="input-mail-register"
            [(ngModel)]="user.email" id="input-mail-register">

          <label id="medium" for="input-password-register">Password</label>
          <input id="medium" type="password" name="input-password-register" class="input-password-register"
            [(ngModel)]="user.password" id="input-password-register">

          <input id="medium" type="submit" style="font-size: 1em; margin-top: 2em; margin-bottom: 0;"
            [disabled]="!createForm.valid" value="Register" class="submit">
          <br>
          <a id="small" class="already-or-not-account">Already have an account ? <strong
              (click)="showLoginUserFormF()">Login</strong></a>

        </form>
      </div>
      <div *ngIf="showLoginUserForm">
        <form (submit)="signInWithEmailPassword()" #loginForm="ngForm">
          <label id="medium" for="input-mail-login">Mail</label>
          <input required id="medium" type="email" name="input-mail-login" class="input-mail-login"
            [(ngModel)]="user.email" id="input-mail-login">

          <label id="medium" for="input-password-login">Password</label>
          <input required id="medium" type="password" name="input-password-login" class="input-password-login"
            [(ngModel)]="user.password" id="input-password-login">

          <input id="medium" type="submit" style="font-size: 1em; margin-top: 2em; margin-bottom: 0;"
            [disabled]="!loginForm.valid" value="Login" class="submit">
          <br>
          <a id="small" class="already-or-not-account">Don't have an account ? <strong (click)="showCreateUserFormF()"
              style="cursor: pointer;">Register</strong></a>

        </form>
      </div>
    </div>
  </ng-template>
</div>

<div class="note_editor" *ngIf="showNoteEditor">
  <div *ngIf="afAuth.user | async as user; else showLogin">
    <style>
      .note-input {
        resize: none;
        overflow: auto;
        padding: .2em;
        width: 99%;
        margin-bottom: 1.3em;
        text-align: left;
        cursor: text;
        display: block;
        color: #9ea7aa;;
        font-family: "Nunito", sans-serif;
      }
      .note-tip-show-note {
        font-family: 1.2em;
      }
      .cancel {
        text-decoration: underline;
      }
    </style>
    <form (submit)="editNote(user.uid, edit_note)" class="editor-note-form">
      <a>
        <strong>
          <p id="large" class="note-tip-show-note">{{ edit_note.title }}</p>
        </strong>
      </a>
      <div>
        <label id="large" for="note-input-title" class="note-input-label">Title</label>
        <input id="medium" style="font-size: 1.6em;" type="text" name="noteInputTitle" id="note-input-title"
          class="note-input" [(ngModel)]="edit_note.title" maxlength="200" value="edit_note.title" />

        <label id="large" for="note-input-content" class="note-input-label">Content</label>
        <textarea id="medium" style="font-size: 1.35em;" type="text" name="noteInputContent" id="note-input-content"
          class="note-input" cols="30" rows="10" maxlength="1000"
          [(ngModel)]="edit_note.content">{{ edit_note.content }}</textarea>

        <input id="small" style="font-size: 1.4em;" type="submit" value="Save" class="submit">
        <br><br>
        <a id="small" class="cancel" (click)="closeNoteEditor()">Cancel</a>
      </div>
    </form>
  </div>
</div>