
<a routerLink="" class="back" style="position: relative; top: 0; text-align: center; text-decoration: underline;"><p>Back</p></a>

- "Add Note" now clears title input field and content input field and closes the "New Note" interface <br>
- Refactored the entirety of the scss code <br>
- Editing notes added <br>
- Deployed https://notes-8db5f.web.app/ for the first time <br>
- Notes based on user with Firebase <br>
- User creation and login with Firebase <br>
- Deleting note <br>
- Querrying notes from Firebase <br>
- Adding notes to Firebase <br>
- Notes displaying <br>
- Note creating form <br>

<div class="footer">
    <a routerLink="/changelog"><p>Changelog</p></a>
</div>
