@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #bdbdbd;
$primary-light: #efefef;
$primary-dark: #8d8d8d;
$secondary: #cfd8dc;
$secondary-light: #ffffff;
$secondary-dark: #9ea7aa;
$text-primary: #B9B9B9;
$text-secondary: #CAD3D7;

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: calc(80% + 10vmin);
  margin: 0 auto;
}

h1 {
  margin-top: calc(2em + 1vmin);
}
