<p>auth works!</p>

<div class="container">
    <form (submit)="signUpWithEmailAndPassword()">
        <h1>Register</h1>
        <label for="input-mail-register">Mail</label>
        <input type="text" name="input-mail-register" [(ngModel)]="user.email" id="input-mail-register">
        <!-- <input type="text" name="input-mail" id="input-mail"> -->

        <label for="input-password-register">Password</label>
        <input type="password" name="input-password-register" [(ngModel)]="user.password" id="input-password-register">
        <!-- <input type="password" name="input-password" id="input-password"> -->

        <input type="submit" value="Sign Up" class="submit-user-register">

    </form>
</div>
<div class="container">
    <form (submit)="signInWithEmailPassword()">
        <h1>Login</h1>
        <label for="input-mail-login">Mail</label>
        <input type="text" name="input-mail-signin" [(ngModel)]="user.email" id="input-mail-signin">
        <!-- <input type="text" name="input-mail" id="input-mail"> -->

        <label for="input-password-login">Password</label>
        <input type="password" name="input-password-signin" [(ngModel)]="user.password" id="input-password-signin">
        <!-- <input type="password" name="input-password" id="input-password"> -->

        <input type="submit" value="Sign In" class="submit-user-login">
    </form>
</div>